# Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [1]:
!pip install -q condacolab

In [2]:
import condacolab 
condacolab.install()

RuntimeError: This module must ONLY run as part of a Colab notebook!

In [3]:
!conda install -y pyhive sasl

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/keuper/anaconda3

  added / updated specs:
    - pyhive
    - sasl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-22.11.0              |   py39h06a4308_1         927 KB
    cyrus-sasl-2.1.27          |       h758a394_8         275 KB
    libdb-6.2.32               |       hf484d3e_0        18.5 MB
    pyhive-0.6.1               |   py39h06a4308_0         368 KB
    ruamel.yaml-0.16.12        |   py39h27cfd23_1         184 KB
    ruamel.yaml.clib-0.2.6     |   py39h7f8727e_0         137 KB
    sasl-0.2.1                 |   py39h48830cd_1          58 KB
    thrift-0.13.0              |   py39h2531618_0         119 KB
    thrift_sasl-0.4.2          |   py39h06a4308_2           9 KB
    ------------------------------------------------------------
                                           Total:        20.5 MB

The following NEW packages will be INSTALLED:

  cyrus-sasl         pkgs/main/linux-64::cyrus-sasl-2.1.27-h758a394_8 None
  libdb              pkgs/main/linux-64::libdb-6.2.32-hf484d3e_0 None
  pyhive             pkgs/main/linux-64::pyhive-0.6.1-py39h06a4308_0 None
  ruamel.yaml        pkgs/main/linux-64::ruamel.yaml-0.16.12-py39h27cfd23_1 None
  ruamel.yaml.clib   pkgs/main/linux-64::ruamel.yaml.clib-0.2.6-py39h7f8727e_0 None
  sasl               pkgs/main/linux-64::sasl-0.2.1-py39h48830cd_1 None
  thrift             pkgs/main/linux-64::thrift-0.13.0-py39h2531618_0 None
  thrift_sasl        pkgs/main/linux-64::thrift_sasl-0.4.2-py39h06a4308_2 None

The following packages will be UPDATED:

  conda              conda-forge::conda-22.9.0-py39hf3d152~ --> pkgs/main::conda-22.11.0-py39h06a4308_1 None



Downloading and Extracting Packages
cyrus-sasl-2.1.27    | 275 KB    | ##################################### | 100%
thrift-0.13.0        | 119 KB    | ##################################### | 100%
ruamel.yaml.clib-0.2 | 137 KB    | ##################################### | 100%
thrift_sasl-0.4.2    | 9 KB      | ##################################### | 100%
sasl-0.2.1           | 58 KB     | ##################################### | 100%
libdb-6.2.32         | 18.5 MB   | ##################################### | 100%
pyhive-0.6.1         | 368 KB    | ##################################### | 100%
ruamel.yaml-0.16.12  | 184 KB    | ##################################### | 100%
conda-22.11.0        | 927 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Retrieving notices: ...working... done

In [1]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [3]:
# try to connect
server="ec2-52-51-147-153.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [4]:
#show our databases
cursor.execute('show databases')

In [5]:
#get data from execution
cursor.fetchall()

[('default',)]

In [6]:
#use default db
cursor.execute('use default')

In [7]:
#show tables in db
cursor.execute('show tables')

In [8]:
cursor.fetchall()

[('employee',), ('salary',)]

In [19]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('birthday', 'date', ''),
 ('first_name', 'string', ''),
 ('family_name', 'string', ''),
 ('gender', 'char(1)', ''),
 ('work_day', 'date', '')]

In [20]:
#select data
cursor.execute('select * from employee')

In [21]:
#get daata from selction
employee = cursor.fetchall()

In [22]:
#have a look
employee[:10]

[(10001, None, "'Georgi'", "'Facello'", "'", None),
 (10002, None, "'Bezalel'", "'Simmel'", "'", None),
 (10003, None, "'Parto'", "'Bamford'", "'", None),
 (10004, None, "'Chirstian'", "'Koblick'", "'", None),
 (10005, None, "'Kyoichi'", "'Maliniak'", "'", None),
 (10006, None, "'Anneke'", "'Preusig'", "'", None),
 (10007, None, "'Tzvetan'", "'Zielinski'", "'", None),
 (10008, None, "'Saniya'", "'Kalloufi'", "'", None),
 (10009, None, "'Sumant'", "'Peac'", "'", None),
 (10010, None, "'Duangkaew'", "'Piveteau'", "'", None)]

In [33]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('salary', 'int', ''),
 ('start_date', 'date', ''),
 ('end_date', 'date', '')]

In [36]:
#select data
cursor.execute('select * from salary')

In [37]:
#get daata from selction
salary = cursor.fetchall()

In [38]:
salary[:10]

[(10001, 60117, None, None),
 (10001, 62102, None, None),
 (10001, 66074, None, None),
 (10001, 66596, None, None),
 (10001, 66961, None, None),
 (10001, 71046, None, None),
 (10001, 74333, None, None),
 (10001, 75286, None, None),
 (10001, 75994, None, None),
 (10001, 76884, None, None)]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [ ]:
cursor.execute(" ")

In [ ]:
cursor.fetchall()

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [ ]:
cursor.execute(" ")
data=cursor.fetchall()

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute(" ")
cursor.fetchall()